.hero-image{
    background-image: url(../assets/images/heroimg.jpg);
    width: 100%;
    height: 720px;
    background-size: cover;
}

.hero-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.herotext{
    display: flex;
    flex-direction: column;
    padding: 180px 0 0 120px;
    line-height: 68px;
}

.herotext1{
    width:47%;
    font-size: 70px;
    color:#39EC2A ;
}

.herotext2{
    font-size: 22px;
    width: 45%;
    color: white;
    margin-bottom: 25px;
}

.herobnt{
    margin-left: 120px;
    background-color: #FFD200;
    padding: 18px 22px;
    color: black;
}