*{
    margin: 0;
}

#logo{
    width: 160px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    /* position: fixed;
    width: 100vw; */
}

#nav-links{
    display: flex;
    column-gap: 25px;
    cursor: pointer;
}

#nav-links:hover{
    border-bottom: red;
    
}

nav button{
    background-color: white;
    padding: 5px 20px;
    border-color: #001f3f;
}