*{
    margin: 0;
}

#logo{
    width: 190px;
    padding-left:100px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    /* position: fixed;
    width: 100vw; */
}

#nav-links{
    display: flex;
    column-gap: 25px;
    cursor: pointer;
    margin-left: -90px;
    margin-top: 20px;
}

#nav-links:hover{
    border-bottom:#39EC2A;
    
}

nav button{
    background-color: white;
    border-color: #001f3f;
    margin-left: 100px;
    margin-right: -80px;
    padding: 13px 10px;
}

nav button:hover{
background-color: #39EC2A;
color: white;
cursor: pointer;
}

.nav-contact{
margin-left: -70px;
margin-top: 18px;
}